<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <h1>
        {{ employee.full_name }}
    </h1>
    <h2>
        Длъжност: {{ employee.employee_position }}
    </h2>
    <p>
        Телефон: {{ employee.employee_dekt }}
    </p>
    <p>e-mail:
        <a  href = "mailto: {{ employee.employee_email}}">
           {{ employee.employee_email }}
        </a>
    </p>
</head>
<body>

</body>
</html>