{% extends "base/base.html" %}
{% block page_content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        <h2>Паролата ВИ е променена успешно!</h2><br>
                        <p>Вече можете да влезете в акаунта си от
                            <a href="{% url 'sign in' %}"><strong style="font-weight: bold; font-size: 30px; color: #f29943">тук</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}