{% extends 'base/base.html' %}
{% block page_content %}
     <div style="margin-top: 5rem; margin-left: 5rem; margin-right: 5rem;">
     <h1 style="color: #f2f2f2;">
        Сграден фонд
    </h1>
<h2 style="margin-top: 0.5rem; padding-top: 0.5rem; font-size: 25px; margin-bottom: 1rem; color: #f2f2f2;">
    Изберете сграда и разгледайте картата и за да локирате работно място</h2>

    {% for building in object_list %}
        <div style="border: 2px solid #6fcf97; margin-right: 10rem;">
        <p style="padding: 0.3rem; font-size: 20px;">
            <span style="font-weight: bold">{{ building.building_name }}</span><i style="margin-left: 5px; color: #FFFFFF;"><a class="building-drawings" href="/media/{{ building.drawing_file }}" target="_blank">виж карта</a></i></p>
{#            #}

            </div>
    {% endfor %}

     </div>{% endblock %}